
<div class="recommeded-card">
<div class="row slide-mobile-creators-section">
  <div class="col-sm-4 c1reator">
    <div class="creator-card">
        <div class="slide-mobile-creator-img"><img src="{{ product | img_url: "master" }}" style="height: 370px; width: 370px; border-top-right-radius: 43px; border-top-left-radius: 43px;"></div>
      <h3 class="creator-name">{{ product.title }}</h3><a
        href="{{ product.url | within: collection }}" class="ve-btn-outline" style="margin-left: 65px;"> View resume</a>
    </div>
  </div>
  </div>
  </div>
