<section class="product section">
  <div class="container">
    <h2 class="section-title">{{ section.settings.product_title }}</h2>
    <p class="product__text basic-text">{{ section.settings.product_text }}</p>
    <ul class="product__list">
      {% for block in section.blocks %}
      <li class="product__item basic-text">{{ block.settings.item_text }}</li>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "motion-product",
  
  "settings": [
      {
        "type": "text",
        "id": "product_title",
        "label": "Product title"
      },
      {
        "type": "text",
        "id": "product_text",
        "label": "Product text"
      }
  ],
  "blocks": [
      {
        "type": "text",
        "name": "list",
        "settings": [
          {
            "type": "text",
            "id": "item_text",
            "label": "Item text"
          }
        ]
      }
  ]
} 
{% endschema %}