<section class="services section">
  <div class="container">
          <h2 class="section-title section-title--left">{{ section.settings.service_title }}</h2>
          <div class="services-wrapper">
          <div class="service-item">
          <img class="service-icon" src="{{ section.settings.service_image | img_url: 'master' }}" alt="">
          <p class="service-text">{{ section.settings.service_text }}</p>
          </div>
          </div>
          <p class="basic-text">{{ section.settings.service_description }}</p>
  </div>
</section>


{% comment %}  {% endcomment %}


{% schema %}
    {
      "name": "Services",
      
      "settings": [
          {
            "type": "image_picker",
            "id": "service_image",
            "label": "Services Image"
          },
          {
            "type": "text",
            "id": "service_title",
            "label": "Services title"
          },
          {
            "type": "text",
            "id": "service_text",
            "label": "Service text",
            "default":"Service text"
          },
          {
            "type": "text",
            "id": "service_description",
            "label": "Services description",
            "default":"Services description"
          },
          {
            "type": "text",
            "id": "link_text",
            "label": "Link text"
          },
		  {
        	"type": "url",
        	"id": "btn_url",
      	  	"label": "URL"
      	  }
      ]
    } 
{% endschema %}