@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: #000;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 80px;
}

.main-title {
  margin: 0;
  /* margin-bottom: 60px; */
  font-weight: 800;
  font-size: 44px;
  line-height: 1.1;
  font-family: 'Raleway', sans-serif;
}

.section-title {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  font-family: 'Raleway', sans-serif;
  text-transform: unset;
}

.section-title--mob {
  display: none;
}

.basic-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.4;
}

.button {
  display: block;
  margin: 0;
  padding: 15px 0;
  width: 300px;
  text-align: center;
  font-weight: 900;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #F13F00;
  border-radius: 71px;
  transition: 0.2s ease-in;
  box-sizing: border-box;
}

/* .button:hover {
  background-color: #f8622c;
} */

section {
  margin-bottom: 180px;
}

.hero {
  position: relative;
  color: #fff;
  overflow: hidden;
  height: auto;
}



.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 60px;
  width: 970px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero__text {
  margin: 0;
  width: 770px;
  font-size: 24px;
  line-height: 1.6;
  color: #fff;
}

.services__wrapper {
  display: flex;
  justify-content: space-between;
}

.services__image-wrapper {
  margin-right: 15px;
}

.services__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 570px;
  row-gap: 30px;
  padding-top: 30px;
}

.section-title--services {
  margin-bottom: 0;
  text-align: start;
}

.types__wrapper {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
}

.types__card {
  width: calc(50% - 15px);
}

.types__card img {
  border-radius: 30px;
}

.types__card p {
  margin: 0;
  margin-top: 30px;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
}

.purpose__wrapper {
  display: flex;
  justify-content: space-between;
}

.purpose__content {
  margin-right: 30px;
  width: 570px;
}

.purpose__text {
  margin-bottom: 60px;
}

@media (max-width: 1300px) {
  .main-title {
    font-size: 40px;
  }

  .hero__text {
    font-size: 20px;
  }
}


@media (max-width: 1040px) {
  .container {
    padding: 0 50px;
  }

  section {
    margin-bottom: 80px;
  }

  .contactform-section {
    margin-bottom: 80px;
  }

  .hero__content {
    row-gap: 30px;
    width: 95%;
    text-align: start;
  }

  .hero__text {
    width: 100%;
  }

  .services__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .services__image-wrapper {
    margin-bottom: 50px;
    margin-right: 0;
  }

  .services__content {
    padding-top: 0;
    width: 100%;
  }

  .button {
    align-self: center;
  }

  .section-title--mob {
    display: block;
    text-align: start;
    margin-bottom: 30px;
  }

  .section-title--desc {
    display: none;
  }

  .purpose__wrapper {
    flex-direction: column-reverse;
    align-items: center;
  }

  .purpose__content {
    width: 100%;
    margin-right: 0;
  }

  .purpose__text {
    margin-bottom: 30px;
  }

  .purpose__image-wrapper {
    margin-bottom: 50px;
  }

  .button--purpose {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 900px) {
  .types__card p {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0 10px;
  }

  .section-title {
    font-size: 32px;
    text-align: start;
  }

  .basic-text {
    font-size: 15px;
  }

  .hero__content {
    row-gap: 50px;
  }

  .types__card {
    margin-bottom: 50px;
    width: 100%;
    text-align: center;
  }

  .types__card:last-child {
    margin-bottom: 0;
  }

}

@media (max-width: 720px) {
  .hero img {
    max-height: 600px;
    width: 100%;
  }
}

@media (max-width: 550px) {
  .button-wrapper {
    width: 100%;
  }

  .button {
    width: 90%;
    margin: 0 auto;
  }
  
  .section-title {
    font-size: 26px;
  }
}

@media (max-width: 360px) {
  .main-title {
    font-size: 34px;
  }

  .hero__content {
    row-gap: 30px;
  }

  .hero__text {
    font-size: 16px;
  }
}


