@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: #212121;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 50px;
}

.button {
  display: block;
  padding: 15px 0;
  width: 300px;
  text-align: center;
  font-weight: 900;
  font-size: 19px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #F13F00;
  border-radius: 71px;
  transition: 0.2s ease-in;
  box-sizing: border-box;
}

.button:hover {
  background-color: #f8622c;
}

.main-title {
  margin: 0;
  margin-bottom: 60px;
  font-weight: 800;
  font-size: 44px;
  line-height: 1.4;
  font-family: 'Raleway', sans-serif;
}

.section {
  margin-bottom: 180px;
}

.section-title {
  margin: 0;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  font-family: 'Raleway', sans-serif;
  text-transform: unset;
}

.basic-text {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
}

.hero {
  position: relative;
}

.hero__content {
  padding-top: 200px;
  margin-right: 25px;
  width: 40%;
}

.hero__text {
  margin: 0;
  margin-bottom: 100px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.6;
}

.hero__image {
  position: absolute;
  width: 50%;
  top: -100px;
  right: 0;
}

.services__wrapper {
  display: flex;
  justify-content: space-between;
}

.services__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services__card img {
  margin-bottom: 30px;
}

.types__wrapper {
  display: flex;
  row-gap: 40px;
  column-gap: 40px;
}

.types__card {
  display: flex;
  flex-direction: column;
  padding: 73px 15px;
  row-gap: 30px;
  align-items: center;
  text-align: center;
  width: calc(50% - 20px);
  box-shadow: 0px 1px 8px rgba(51, 51, 51, 0.1);
  border-radius: 30px;
}

.types__card img {
  display: block;
}

.card-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}

.card-text {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
}

.project__wrapper {
  display: flex;
  justify-content: space-between;
}

.project__content {
  margin: 0;
  margin-left: 30px;
  width: 500px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.6;
}

.none {
  display: none;
}

@media (max-width: 1300px) {
  .main-title {
    font-size: 35px;
  }

  .hero__content {
    padding-top: 80px;
  }

  .hero__text {
    font-size: 20px;
    margin-bottom: 60px;
  }
}

@media (max-width: 1120px) {
  .main-title {
    margin-bottom: 30px;
  }

  .hero__text {
    margin-bottom: 30px;
  }

  .section-title {
    margin-bottom: 30px;
  }

  .project__content {
    font-size: 20px;
  }
}

@media (max-width: 900px) {
  .hero__image {
    width: 90%;
    text-align: right;
  }

  .hero__content {
    padding-top: 250px;
    width: 100%;
  }

  .types__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .types__card {
    width: 70%;
  }

  .project__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .project__content {
    margin-left: 0;
    width: 100%;
  }
}

@media (max-width: 700px) {
  .container {
    padding: 0 15px;
  }

  .section-title {
    font-size: 32px;
  }

  .basic-text {
    font-size: 15px;
  }

  .section {
    margin-bottom: 80px;
  }

  .services__wrapper {
    justify-content: unset;
    column-gap: 30px;
  }

  .services__card {
    width: calc(33.33% - 20px);
    text-align: center;
  }
}

@media (max-width: 550px) {
  .button {
    width: 100%;
    margin: 0 auto;
  }

  .section-title {
    font-size: 26px;
  }

  .types__card {
    padding: 30px 15px;
    width: 100%;
    row-gap: 15px;
  }

  .card-title {
    font-size: 20px;
  }

  .card-text {
    font-size: 20px;
  }

  .project__content {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .main-title {
    font-size: 28px;
  }

  .services__card img {
    margin-bottom: 15px;
  }

  .services__card p {
    font-size: 12px;
  }
}

@media (max-width: 420px) {
  .hero__content {
    padding-top: 180px;
  }
}