.ds-flex {
    display: flex;
}

section {
    margin-bottom: 200px;
}

.button {
    margin: 0;
}

/* first section */

.banner-content {
    position: relative;
    top: 300px;
    text-align: center;
}

.io-banner {
    width: 100vw;
    max-height: 951px;
    height: 150vh;
}

.io-banner-heading {
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF !important;
}

.io-banner-subheading p {
    max-width: 970px;
    margin-top: 100px;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 160%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: .03em;
    color: #fff !important;
}

.banner-content .button {
    margin-top: 100px;
    margin-bottom: 0;
}

/* SECOND SECTION */

 #se-second .lr-wrapper,  #se-fourth .lr-wrapper {
     display: flex;
 }

 #se-second .lr-wrapper .left, #se-second .lr-wrapper .right, #se-fourth .lr-wrapper .left, #se-fourth .lr-wrapper .right {
     width: 50%;
 }

 .se-banner-heading, .section-header  {
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #000000;
    text-transform: initial;
 }

.centered {
    text-align: center;
}

 .se-banner-subheading {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 160%;
    letter-spacing: 0.03em;  
    color: #000000;
 }

 #se-section .button {
     margin-top: 50px;
 }

 /* THIRD SECTION */

 #se-third .se-banner-heading {
     margin-bottom: 50px;
 }

.effects-wrappper {
    flex-wrap: wrap;
    justify-content: space-around;
}

 .effect-item {
    max-width: 570px;
    height: 560px;
    margin-bottom: 100px;
    text-align: center;
 }

 .item_title {
    font-family: Raleway;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #F13F00;
    margin-top: 50px;
 }

 .item_description {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #000000;
 }

 .desktop {
    display: flex;
 }

 .mobile {
     display: none;
 }

#se-fourth .button {
    margin-top: 80px;
}
.btn svg {
    width: 0px;
}

 @media screen and (max-width: 820px) {

    .popup-gallery {
        flex-direction: column;
    }

    .desktop {
        display: none;
     }
    
     .mobile {
         display: block;
     }

     .slick-initialized .slick-slide {
        display: block !important;
    }

    .io-banner {
        width: 100vw;
        height: 150vh;
        max-height: 880px;
    }

    .banner-content {
        position: relative;
        top: 200px;
        text-align: center;
    }

    .io-banner-heading {
        font-family: Raleway;
        font-style: normal;
        font-weight: 900;
        font-size: 30px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    .io-banner-subheading p {
        font-family: Raleway;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 160%;
        text-align: center;
        letter-spacing: 0.03em;
        color: #FFFFFF;
    }

    #se-second .lr-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    #se-fourth .lr-wrapper {
        display: flex;
        flex-direction: column-reverse;
    }

    #se-second .lr-wrapper .left, #se-second .lr-wrapper .right, #se-fourth .lr-wrapper .left, #se-fourth .lr-wrapper .right {
        width: 100%;
    }

    .btn svg {
        width: 0px;
    }

    section {
        margin-bottom: 100px;
    }
 }

 @media screen and (min-width: 1920px) {
    .io-banner {
        background-size: cover !important;
    }
     
 }