<div class="page-width">
    <div class="grid">
      <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
        <div class="section-header text-center">
        </div>
{% section 'terms-and-conditions-section' %}
<div class="empty-space">{% include 'contact-us-surround-img-left-bottom' %}{% include 'img-lamp' %}{% include 'img-target' %} {% include 'contact-us-surround-img-right-top' %}{% include 'img-clock' %}{% include 'img-circle' %}{% include 'img-doc' %} </div>