




{%include 'search-render' %}





{% if search.results_count > 0 and search.results_count < 2 %} <div class="search--less-than-2-results">
  {{search.results_count}}
  </div>
  {% endif %}

  {% endpaginate %}

  <script>
    let searchValue = [searchInput.value];
    const searchBtn = document.getElementsByClassName("search-btn");
    const comma = ", ";
    var activeId = [];
    var searchString;

    function clickOnTag (obj) {
      
      searchValue = [searchInput.value];



      searchValue.push(obj.value);
      searchInput.value = searchValue.join(''); 


      activeTag.classList.add("active");
      return false;

    }

    function makeTagActive () {
      const close = "close";
      const activeValue = document.getElementById("searchInput").value;
      const input = document.getElementById("searchInput");
      const activeTag = document.getElementById(activeValue);
      const activeCloseBtn = document.getElementById(close+activeValue);
      

      activeTag.classList.add("active");
      activeCloseBtn.classList.add("activesvg");

      activeCloseBtn.addEventListener('click', function () {
        document.location.href = "/search";
      })
      return false;
    }
    // makeTagActive ();


  function showLog () {
    searchString = searchValue.join();
    activeId = searchString.split(comma);
    forDelete = activeId;
    activeId.forEach(element => {
      let currentItem = element;
      const activeTag = document.getElementById(currentItem);
      const activeTagBtn = document.getElementById("btn"+currentItem);
      activeTag.classList.add("active");
      activeTagBtn.classList.add("unclickble");
      const activeCloseBtn = document.getElementById("close"+currentItem);
      activeCloseBtn.classList.add("activesvg");
      activeCloseBtn.addEventListener('clock', function (){
        return true;})
});

  }
  function deleteTag (closeBtn) {
    const str2 = "close";
    let currentTabValue = closeBtn.id;
    currentTabValue = currentTabValue.replace(/close/gi,'');
    let currentSearchValue = searchInput.value;
    let re = currentTabValue+", ";
    currentSearchValue = currentSearchValue.replace(re,'');
    searchInput.value = currentSearchValue;
    let searchForm = document.getElementsByClassName("search-form");
    searchForm.search();
    
  }
  showLog();
  </script> 